{% extends 'base.html' %}

{% block title %} Edit User {% endblock %}

{% block content %}

<h1>Edit Profile</h1>

<form action="/{{ user.id }}" method="POST">
    <label for="edit_first_name">First Name:</label>
    <input type="text" name="edit_first_name">
    <br>
    <label for="edit_last_name">Last Name:</label>
    <input type="text" name="edit_last_name">
    <br>
    <label for="edit_profile_pic">Image URL:</label>
    <input type="text" name="edit_profile_pic">
    <br>
    <button class="btn btn-success">Save</button>

    <form action="/{{ user.id }}">
        <button class="btn btn-danger">Cancel</button>
    </form>
</form>

{% endblock %}